body {
  background: #f6f4eb;
}

.contentList {
  background-color: #749bc2;
  & .listStyle {
    background: #91c8e4;
    transition: background 0.3s linear;
  }
  & .listStyle:hover {
    background: #2584aa;
  }
  & a {
    color: black;
    transition: color 0.3s linear;
  }
  & a:hover {
    color: #f6f4eb;
  }
}
